a {
  font-weight: bold;
  display: inline-block;
  color: black;
  border: 2px solid black;
  padding: 7px;

}

p.article {
  font-weight: thin;
  color: black;
  font-size: 25px;
}

h2.responce {
  color: maroon;
  font-size: 20px;
  font: italic
}

h2.respond-create {
  font-size: 18px;
  color: black;
}
